body {
  background-color: #ccc;
}
h1 {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 700;
  color: #28a745;
}
.btn-phonebook {
  display: inline-block;
  width: 100%;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-phonebook:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-phonebook:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
.btn-phonebook:focus,
.btn-phonebook:hover {
  text-decoration: none;
}
.btn-phonebook:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
.btn-phonebook:not(:disabled):not(.disabled).active:focus,
.btn-phonebook:not(:disabled):not(.disabled):active:focus,
.show > .btn-phonebook.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
.btn-phonebook:not(:disabled):not(.disabled).active,
.btn-phonebook:not(:disabled):not(.disabled):active,
.show > .btn-phonebook.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}
.btn-phonebook:not(:disabled):not(.disabled).active {
  background-image: none;
}
.btn-phonebook.disabled,
.btn-phonebook:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-phonebook.disabled,
.btn-phonebook:disabled {
  opacity: 0.65;
}

.input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
}
.list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  overflow: hidden;
}

.list-item {
  position: relative;
  display: block;
  width: calc(100% - 5px);
  padding: 0.75rem 1.25rem;
  /* margin: 0 auto; */
  margin-bottom: 5px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  clear: both;
  font-size: 16px;
  font-weight: bold;
  border-radius: 00.25rem;
  box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.125);
}
.list-item span {
  font-size: 18px;
  font-weight: normal;
}
.list-item button {
  float: right;
  padding: 7px;
  cursor: pointer;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 10px;
}

.pre-loader {
  width: 50vw;
  height: 50vh;
  transform: translateX(100%) translateY(100%);
}
.loader {
  text-align: center;
}
.btn-count {
  width: auto;
  padding: 0;
  margin: 20px;
  padding: 5px;
  font-size: 14px;
}
/* HW 8 */
.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 400px;
  margin-top: 20px;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    url('/src/images/homeview-image.png') no-repeat center center fixed;
  background-size: cover;
}
.main h1 {
  font-size: 32px;
  color: #000;
}
.main--green {
  color: #28a745;
}
.main--blue {
  color: #0a519c;
}
.Auth-nav {
  margin-left: auto;
}
.wrapper-spinner-bs {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}
.wrapper-spinner-bs > .spinner-border {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 40px;
}
.wrapper-spinner-bs > .spinner-border:last-child {
  margin-right: 0;
}
.filter {
  margin-bottom: 20px;
}
.form-addContact {
  margin-bottom: 20px;
}
.btn-phonebook--logout {
  width: auto;
  padding: 7px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: rgba(0, 123, 255, 0.7);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
